.vs/
.obj/
.bin/


/DotNetCoreDockerized/Dockerfile.original
/bin/Debug
/DotNetCoreDockerized/bin/Debug/netcoreapp2.2
/DotNetCoreDockerized/obj/Debug/netcoreapp2.2
/DotNetCoreDockerized/obj
/obj/Debug
/obj/Docker
